# Harika Reddy Kumbum - 50248882

# Sai Nikhila Muthyala - 50245184

In [4]:
print("Chap3 python practise!")

Chap3 python practise!

In [6]:
#It has a data structure that describes employees of a company. It goes through the employee records, gives each one
#a 5% raise, and updates the record with the name of the state they live in. It then
#prints out information describing the updated employee data

SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}

def update_employee_record(rec):
 old_sal = rec['salary']
 new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
 rec['salary'] = new_sal
 state_code = rec['state_code']
 rec['state_name'] = STATE_CODE_MAP[state_code]

input_data = [
 {'employee_name': 'Susan', 'salary': 100000.0,
 'state_code': 'WA'},
 {'employee_name': 'Ellen', 'salary': 75000.0,
 'state_code': 'TX'},
]

for rec in input_data:
 update_employee_record(rec)
 name = rec['employee_name']
 salary = rec['salary']
 state = rec['state_name']
 print(name + ' now lives in ' + state)
 print(' and makes $' + str(salary))

Susan now lives in Washington
 and makes $105000.0
Ellen now lives in Texas
 and makes $78750.0

In [16]:
a_string = "hello"
an_empty_string = ""
multi_line_string = """line 1
line 2"""
print(a_string)
print(an_empty_string)
print(multi_line_string)
string_with_tab = "First part and \t second part"
print(string_with_tab)
string_new_line = "First line\nsecond line\nthird line\tend"
print(string_new_line)

hello

line 1
line 2
First part and 	 second part
First line
second line
third line	end

In [18]:
word = "Data Intensive computing"
print(word[1])
print(word[1:4])
print(word[5:])
print(word[:5])
print(word[:-1])
print(word[:-2])

a
ata
Intensive computing
Data
Data Intensive computin
Data Intensive computi

In [21]:
def sqr(x):
 "This function just squares its input "
 return x * x
print(sqr(5))

25

In [22]:
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)
print("list is",my_list)
print("set is",my_set)
print("tuple is",my_tuple)

list is ['a ', 'b ', 'c ']
set is {'c ', 'a ', 'b '}
tuple is ('a ', 'b ', 'c ')

In [29]:
my_list = ["a ", "b ", "c "]
print(my_list[0]) # prints "a "
my_list[0] = "A " # changes that element of the list
my_list.append("d ") # adds new element to the end
print("changed list",my_list)
# List elements can be ANYTHING
mixed_list = ["A ", 5.7, "B ", [1,2,3]]
print("mixed list is ",mixed_list)
original_list = [1,2,3,4,5,6,7,8]
print("original list ",original_list)
squares = [x*x for x in original_list]
print("squares list is ",squares)
squares_of_evens = [x*x for x in original_list if x%2==0]
print("squares of evens ",squares_of_evens)

a
changed list ['A ', 'b ', 'c ', 'd ']
mixed list is  ['A ', 5.7, 'B ', [1, 2, 3]]
original list  [1, 2, 3, 4, 5, 6, 7, 8]
squares list is  [1, 4, 9, 16, 25, 36, 49, 64]
squares of evens  [4, 16, 36, 64]

In [32]:
#A dictionary is a structure that takes in a key and returns a value.
my_dict = {"January": 1, "February":2}
print(my_dict["January"]) # prints 1
my_dict["March"] = 3 # add new element
my_dict["January"] = "Start of the year" # overwrite old value
print("new my_dict ",my_dict)
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()
print(same_as_pairs)

1
new my_dict  {'January': 'Start of the year', 'February': 2, 'March': 3}
dict_items([('one', 1), ('two', 2)])

In [35]:
#Functions
def raise_pow(x, n=2):
 return pow(x,n)
two_sqrd = raise_pow(2)
two_cubed = raise_pow(2, n=3)
print("two square ",two_sqrd)
print("2 cube ",two_cubed)

# Functions with 1 line as lamba expressions
sqr = lambda x : x*x
five_sqrd = sqr(5)
print("lamba expression sqrd ",five_sqrd)

two square  4
2 cube  8
lamba expression sqrd  25

In [41]:
i = -1
if i < 3:
 print("i is less than three")
elif i < 5: print("i is between 3 and 5")
else: print("i is greater than 5")
i = 0
while i < 5:
 print("i is still less than five")
 i = i+1

i is less than three
i is still less than five
i is still less than five
i is still less than five
i is still less than five
i is still less than five

In [49]:
#Dataframes
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})
#print(df["name"])
# Making new columns from old ones
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
#print("booleans column ",df["over_30"])
print(df.to_string())
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
print("toatl age is ",total_age)
print("median of ages is ",median_age)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
print("df with age < 50 ")
print(df_below50.to_string())

# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True
toatl age is  118
median of ages is  33.0
df with age < 50
   age    name  age_plus_one  age_times_two  age_squared  over_30
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True

In [52]:
#using column names as index
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]
})
print(df.index) # prints 0â€2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print(df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.loc["Bob"]
print(bobs_row["age"]) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

In [54]:
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]
})
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})
joined = df_w_age.set_index("name").join(df_w_height.set_index("name"))
print(joined)
print(joined.reset_index())

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5
     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [56]:
df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
})
print(df.groupby("gender").mean())
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
 return pd.Series({
 "name": max(ddf["name"]),
 "oldest": max(ddf["age"]),
 "mean_height": ddf["height"].mean()
 })
print(df.groupby("gender").apply(agg))

         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60